    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    .container {
        padding: 0 2rem;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: wheat;
        padding: 1rem 2rem;
        height: 130px;
    }
    
    .div2 {
        margin-left: 50px;
        margin-top: 0.9%;
        background-color: #ffffff50;
        border: 2px solid white;
        border-radius: 20px;
    }
    
    .navbar li a:hover {
        color: white;
        padding: auto auto;
        text-decoration: underline;
        font-size: 18px;
    }
    
    .navbar li a {
        color: white;
    }
    
    .navbar li {
        padding: auto auto;
    }
    
    .div1 {
        width: 100%;
        height: fit-content;
    }
    
    .company-logo {
        width: 120px;
        height: 80px;
        background-color: none;
    }
    
    .company-name {
        width: 230px;
        height: 120px;
    }
    
    body {
        background-image: url('images/background main.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /*background-attachment: fixed;*/
    }
    
    .navbar {
        height: 70px;
        padding-top: 20px;
        padding-left: 30px;
    }
    
    .nav-items {
        display: flex;
        font-weight: bold;
    }
    
    .nav-item {
        margin: 0 2rem;
        font-weight: bold;
    }
    
    .clock {
        width: 220px;
        height: 100px;
        background-color: none;
    }
    
    .Menu {
        display: grid;
        gap: 65px;
        padding: 20px;
        flex-wrap: wrap;
        padding-right: 500px;
    }
    
    .heading {
        background: orangered;
        color: white;
        margin-bottom: 30px;
        padding: 30px 0px;
        grid-column: 1/-1;
        text-align: center;
        padding-right: 160px;
        margin-left: 570px;
        padding-left: 160px;
        border-radius: 30px;
    }
    
    .container {
        display: grid;
        justify-content: space-around;
        margin-top: 100px;
        grid-template-columns: repeat(3, 1fr);
        gap: 45px;
    }
    
    .special {
        background-color: whitesmoke;
        border: 4px solid #b22222;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(o, 0, 0, 0.3);
        width: 325px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 50px;
    }
    
    .special img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    
    .special-content {
        padding: 25px;
    }
    
    .special h2 {
        color: #b22222;
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .special p {
        font-size: 16px;
        color: #000;
        margin-bottom: 20px;
    }
    
    .price {
        float: right;
    }
    
    .btn {
        background-color: orangered;
        border: none;
        font-size: 16px;
        color: black;
        font-weight: 600;
        border-radius: 5px;
        width: 200px;
        cursor: pointer;
        height: 60px;
        box-sizing: border-box;
        margin-left: 30px;
    }
    
    .btn:hover {
        background-color: beige;
    }
    
    footer {
        background-color: #333;
        color: white;
        padding: 20px 0;
        text-align: center;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .footer-column {
        text-align: left;
        /* Align text to the left within each column */
    }
    
    .footer-column h3 {
        margin-bottom: 10px;
    }
    
    .footer-column ul {
        list-style-type: none;
        padding: 0;
    }
    
    .footer-column li {
        margin-bottom: 5px;
    }
    
    .footer-column a {
        color: white;
        text-decoration: none;
    }
    /* Optional: Add hover effect for links */
    
    .footer-column a:hover {
        text-decoration: underline;
    }
    
    .social-icons h3 {
        margin-bottom: 15px;
    }
    
    .social-links {
        list-style-type: none;
        padding: 0;
        display: flex;
        /* Display icons in a row */
        justify-content: center;
        /* Center icons horizontally */
    }
    
    .social-links li {
        margin: 0 10px;
        /* Add spacing between icons */
    }
    
    .social-links a {
        color: white;
        font-size: 20px;
        /* Adjust icon size */
        transition: color 0.3s ease;
        /* Smooth color transition on hover */
    }
    
    .social-links a:hover {
        color: #007bff;
        /* Change color on hover (adjust to your brand color) */
    }
    
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }