body {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.container {
    padding: 0 2rem;
}

body {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32%;
    background-color: wheat;
    height: 130px;
    width: 100%;
    padding: 1rem 2rem;
}

.background {
    background-image: url(images/background11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0D0D0D;
}

.div2 {
    margin-left: 50px;
    margin-top: 0px;
    background-color: #ffffff50;
    border: 2px solid white;
    border-radius: 20px;
}

.navbar li a:hover {
    color: white;
    padding: auto auto;
    text-decoration: underline;
    font-size: 18px;
}

.navbar li a {
    color: white;
}

.navbar li {
    padding: auto auto;
}

.company-logo {
    width: 120px;
    height: 80px;
    background-color: none;
}

.clock {
    width: 220px;
    height: 100px;
    background-color: none;
}

.company-name {
    width: 230px;
    height: 120px;
}

.company-logo:hover {
    transform: scale(1.25);
}

.company-name:hover {
    transform: scale(1.25);
}

.clock:hover {
    transform: scale(1.25);
}

.navbar {
    height: 70px;
    padding-top: 30px;
    padding-left: 30px;
}

.nav-items {
    display: flex;
    font-weight: bold;
}

.nav-item {
    margin: 0 2rem;
    font-weight: bold;
}

.nav-item2 {
    margin-left: 700px;
}

.login-button {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.399);
    background-color: transparent;
}

.body-div {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    margin-top: 100px;
}

.body-sub-div1 {
    width: 700px;
    float: left;
    height: 300px;
    background-color: none;
}

.p1 {
    font-size: 4.5em;
    font-weight: bold;
    padding-top: 100px;
    color: whitesmoke;
    margin-top: -100px;
}

.p2 {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 100px;
    color: rgb(249, 2, 2);
    margin-top: -90px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    text-align: left;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.social-icons h3 {
    margin-bottom: 15px;
}

.social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}